:host {
    width: 890px;

    #modalHeader {
        display: flex;
        justify-content: center;
        border-radius: 15px 15px 0 0;
        border-bottom: 1px solid silver;
    }

    #modalBody {

        #atividades {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            max-height: 37vw;
            div {
                padding: 0.5rem;
                width: 25rem;
            }
        }
        
        #buttonBottom {
            text-align: center;
            button {
                background-color: seagreen;
                margin: 1rem auto;
            }
        }
    }
}