<div id="contato" class="card-dash">
  <div class="card-header-dash"><h3>Nova Senha</h3></div>
  <div class="card-body-dash" style="margin-top: 1rem">
    <!-- Email form -->
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <div class="group">
        <input type="text" formControlName="email" #email>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label [className]="email.value === null ? 'input-empty' : 'input-not-empty'">
          E-mail
        </label>
      </div>
      <div class="group">
        <input type="password" formControlName="password" #password>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label [className]="password.value === null ? 'input-empty' : 'input-not-empty'">
          Senha
        </label>
      </div>
      <div class="group">
        <input type="password" formControlName="password_confirmation" #password_confirmation>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label [className]="password_confirmation.value === null ? 'input-empty' : 'input-not-empty'">
          Confirme a senha
        </label>
      </div>
      <button type="submit" class="rd-button-dash" style="background-color: #5cb85c">SALVAR</button>
    </form>
  </div>
</div>
<div class="my-container">
  <!-- Loading template -->
  <ng-template #customLoadingTemplate>
    <div class="custom-class">
    </div>
  </ng-template>

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"
    [template]="customLoadingTemplate"></ngx-loading>
</div>
