:host {
    width: calc(100% - 281.64px);
    max-height: 50rem;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;

    .card-dash {
        width: 74%;
        .card-header-dash {
            width: 96%;
            margin-left: 2%;
            padding: 0;
            background: #2196f3;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, rgb(231, 150, 28), rgb(231, 82, 28));  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, rgb(231, 150, 28), rgb(231, 82, 28)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            h3 {
                margin-block-start: 0.5em;
                margin-block-end: 0.5em;
            }
        }

        .card-body-dash {

            padding: 2em;

            .group {
                margin-bottom: 0;
            }

            button {
                width: 15em;
                margin: auto;
                i {
                    margin-right: 0.5em;
                }
            }
        }
    }
}

i {
    padding: 0.5%;
    color: white;
    border-radius: 5px;
    margin-left: 0.5%;
}

.mat-elevation-z8 {
    overflow: auto;
    height: 100%;
    table {
        th {
            background-color: #cfd8dc!important;
        }
    }
}


::ng-deep .mat-sort-header-container {
    display:flex;
    justify-content:center;
}

