<main class="mt-3">
  <div id="containerTelaInicial" class="container-fluid">
    <section class="tela-inicial-section">
      <!-- Cards da Vendas, INADIMPLENTES, Cartoes pendentes e Usuários -->
      <div class="row">
        <!--Card Vendas-->
        <div class="col-md-3 mb-4">
          <!--Card-->
          <div class="card">
            <!--Card Data-->
            <div class="admin-up">
              <i class="far fa-money-bill-alt"></i>
              <div class="data">
                <p>VENDAS PUBLICIDADE</p>
                <h6 class="font-weight-bold dark-grey-text">R$ 2.000,00</h6>
              </div>
            </div>
            <!--/.Card Data-->
            <!--Card content-->
            <div class="card-body card-body-cascade mt-5">
              <div class="progress">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 25%"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <!--Text-->
              <p class="card-text">Relação ao mês passado</p>
            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card-->
        </div>
        <!--Card Vendas-->
        <!--Card INADIMPLENTES-->
        <div class="col-md-3 mb-4">
          <!--Card-->
          <div class="card">
            <!--Card Data-->
            <div class="admin-up">
              <i class="fas fa-chart-line" style="background-color: #fb3"></i>
              <div class="data">
                <p class="two-p">INADIMPLENTES</p>
                <h4 class="two-p">200</h4>
                <p class="two-p">EM VALOR</p>
                <h6 class="two-p">R$ 1.500,00</h6>
              </div>
            </div>
            <!--/.Card Data-->
            <!--Card content-->
            <div class="card-body card-body-cascade mt-3">
              <div class="progress">
                <div class="progress-bar red accent-2" role="progressbar"
                  style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <!--Text-->
              <p class="card-text">Relação ao mês passado</p>
            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card-->
        </div>
        <!--Card INADIMPLENTES-->
        <!--Card Cartoes Pendentes-->
        <div class="col-md-3 mb-5">
          <!--Card-->
          <div class="card">
            <!--Card Data-->
            <div class="admin-up">
              <i class="fas fa-chart-pie light-blue lighten-1" style="background-color: #29b6f6"></i>
              <div class="data">
                <p>TOTAL DE CREDENCIADOS</p>
                <h4 class="two-p">20.000</h4>
                <p class="two-p">CADASTROS MÊS VIGENTE</p>
                <h6 class="two-p" style="margin-block-end: 0.5em">100</h6>
              </div>
            </div>
            <!--/.Card Data-->
            <!--Card content-->
            <div class="card-body card-body-cascade mt-3">
              <div class="progress">
                <div class="progress-bar red accent-2" role="progressbar" style="width: 75%"
                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p class="card-text">Relação ao mês passado</p>
            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card-->
        </div>
        <!--Card Cartoes Pendentes-->
      </div>
      <!-- Cards da Vendas, INADIMPLENTES, Cartoes pendentes e Usuários -->
    </section>
    <div style="height: 30px"></div>
    <section class="vendas">
      <!--Card de Vendas e gráficos de Vendas-->
      <div class="card">
        <!--Section: Chart-->
        <section>
          <!--Grid row-->
          <div class="row">
            <!--Coluna dos dados sobre Vendas-->
            <div class="col-md-6">
              <!--Card Header-->
              <div class="view view-cascade gradient-card-header light-blue lighten-1">
                <h2 class="h2-responsive mb-0">Vendas</h2>
              </div>
              <!--/Card header-->
              <!--Card content-->
              <div class="card-body card-body-cascade pb-0">
                <!--Panel data-->
                <div class="row card-body pt-3">
                  <!--First column-->
                  <div class="col-md-6">
                      <!--Date select-->
                      <p class="lead"><span class="badge info-color p-2">Intervalo de Dados</span></p>
                      <mat-form-field>
                        <mat-label>Escolher período</mat-label>
                        <mat-select>
                          <mat-option *ngFor="let period of periods" [value]="period">
                            {{period}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <!--Date pickers-->
                      <p class="lead mt-5"><span class="badge info-color p-2">Data específica</span></p>
                      <br>
                      <mat-form-field>
                        <input matInput [matDatepicker]="picker1" placeholder="Selecionar data">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput [matDatepicker]="picker2" placeholder="Selecionar data">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>
                  </div>
                  <!--/First column-->
                  <!--Second column-->
                  <div class="col-md-6 text-center">
                    <!--Summary-->
                    <p>Total vendas: <strong>R$ 2000</strong>
                    <p>Média vendas: <strong> R$ 100</strong></p>
                    <!--Summary-->
                    <!--Change chart-->
                    <span class="min-chart my-4" id="chartSales" data-percent="76"><span class="percent"></span></span>
                    <mat-chip-list>
                        <mat-chip color="accent">Mudar</mat-chip>
                    </mat-chip-list>


                    <!--Change chart-->
                  </div>
                  <!--/Second column-->
                </div>
                <!--/Panel data-->
              </div>
              <!--/.Card content-->
            </div>
            <!--Coluna dos dados sobre Vendas-->
            <!--Coluna do gráfico-->
            <div class="col-md-6">
              <!--Card image-->
              <div id="chartView" class="view view-cascade gradient-card-header blue-gradient">
                <!-- Chart -->
                <canvas baseChart
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins">
                </canvas>
            </div>
              <!--/Card image-->
            </div>
            <!--Coluna do gráfico-->
          </div>
          <!--Grid row-->
        </section>
        <!--Section: Chart-->
      </div>
      <!--Card de Vendas e gráficos de Vendas-->
    </section>
    <div style="height: 5px"></div>
    <section class="tela-inicial-section">
      <div class="row">
        <div class="col-md-6" id="table">
          <mat-card>
            <mat-card-content>
              <!--Locals Table-->
              <table mat-table [dataSource]="dataSourceState" class="mat-elevation-z8"
                multiTemplateDataRows
                matSort matSortActive="created" matSortDisableClear matSortDirection="desc">

                <ng-container matColumnDef="state">
                  <th mat-header-cell *matHeaderCellDef> Estado </th>
                  <td mat-cell *matCellDef="let row"> {{row.state}} </td>
                </ng-container>

                <ng-container matColumnDef="stateQty">
                  <th mat-header-cell *matHeaderCellDef> Total </th>
                  <td mat-cell *matCellDef="let row"> {{row.stateQty}} </td>
                </ng-container>

                <ng-container matColumnDef="city">
                  <th mat-header-cell *matHeaderCellDef> Cidade </th>
                  <td mat-cell *matCellDef="let row"> {{row.city}} </td>
                </ng-container>

                <ng-container matColumnDef="cityQty">
                  <th mat-header-cell *matHeaderCellDef> Total </th>
                  <td mat-cell *matCellDef="let row"> {{row.cityQty}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsState"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsState;"></tr>
              </table>

              <br>
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-6" id="canvas-rosca">
          <!--Card do Gráfico das idades-->
          <mat-card>
            <mat-card-content>
              <mat-card-header>
                <mat-card-title class="title">Idade dos Usuários</mat-card-title>
              </mat-card-header>
              <canvas baseChart width="572" height="305"
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType">
                </canvas>
            </mat-card-content>
          </mat-card>
          <!--Card do Gráfico das idades-->
        </div>
      </div>
    </section>
    <div style="height: 5px"></div>
    <section class="tela-inicial-section">
      <div class="row">
        <div class="col-md-6" id="table">
          <app-activities-table></app-activities-table>
        </div>
        <div class="col-md-6" id="canvas-rosca">
          <!--Card do Gráfico do Sexo-->
          <mat-card>
            <mat-card-content>
              <mat-card-header>
                <mat-card-title class="title">Sexo dos Usuários</mat-card-title>
              </mat-card-header>
              <canvas baseChart width="572" height="305"
                  [data]="doughnutChartGenderData"
                  [labels]="doughnutChartGenderLabels"
                  [chartType]="doughnutChartGenderType">
                </canvas>
            </mat-card-content>
          </mat-card>
          <!--Card do Gráfico do Sexo-->
        </div>
      </div>
    </section>
  </div>
</main>
