<div class="card-dash">
  <div class="card-header-dash"><h3>À Pagar</h3></div>
  <div class="card-body-dash">
    <div>
      <mat-form-field style="width: 20%">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
      </mat-form-field>
      <i class="fas fa-search" style="background-color: chocolate"></i>
    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort style="width: 100%">

        <!-- ID Column -->
        <ng-container matColumnDef="nTitulo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nº Título </th>
          <td mat-cell *matCellDef="let row"> {{row.nTitulo}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="situacao">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Situação </th>
          <td mat-cell *matCellDef="let row"> {{row.situacao}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="sacado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sacado </th>
          <td mat-cell *matCellDef="let row"> {{row.sacado}} </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="vencimento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Vencimento </th>
          <td mat-cell *matCellDef="let row"> {{row.vencimento | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="pagamento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Pagamento </th>
          <td mat-cell *matCellDef="let row"> {{row.pagamento | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="referente">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Referente </th>
          <td mat-cell *matCellDef="let row"> {{row.referente}} </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="indicacoes">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Indicacões </th>
          <td mat-cell *matCellDef="let row"> {{row.indicacoes}} </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="individual">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Individual </th>
          <td mat-cell *matCellDef="let row"> {{row.individual | currencyformat}} </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
          <td mat-cell *matCellDef="let row"> {{getTotalRow(row) | currencyformat}} </td>
        </ng-container>

        <!-- Divider column -->
        <ng-container matColumnDef="divider">
          <td mat-footer-cell *matFooterCellDef colspan="11" style="background-color: silver"></td>
        </ng-container>

        <!-- Total To Pay column -->
        <ng-container matColumnDef="total-to-pay">
          <td mat-footer-cell *matFooterCellDef colspan="11" class="table-footer">
            <strong>Total à pagar: </strong><span>{{ getTotalColumn() | currencyformat}} </span>
          </td>
        </ng-container>

        <!-- Referencia column -->
        <ng-container matColumnDef="referencia">
          <td mat-footer-cell *matFooterCellDef colspan="11" class="table-footer">
            <strong style="margin-right: 4.2em">Referência: </strong><span>05/18</span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="['divider']"></tr>
        <tr mat-footer-row *matFooterRowDef="['total-to-pay']"></tr>
        <tr mat-footer-row *matFooterRowDef="['referencia']"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>
