:host {
    min-height: 40rem;
    display: flex;
    display: -webkit-flex;

    section {
        width: 60rem;
        margin: 2rem auto;
        display: flex;
        flex-direction: column;

        #anuncio-details {
            height: fit-content;
            width: 46rem;
            margin: auto;
            border-radius: 10px;
            h1 {
                color: rgba(255,121,0,1);
            }

            p {
                padding: 1rem;
                text-align: justify;
                text-justify: auto;
            }
        }

        #cardPriceTab {
            width: fit-content;
            margin: 2rem auto;

            button {
                background-color: seagreen;
            }
        }

        #infoCol {

            display: flex;
            flex-direction: column;
            max-height: fit-content;
            margin: 1em;

            #cardInfo {

                #cardInfoBody {

                    form {
                        margin: 3em 0 1em 2.5em;
                        display: flex;
                        flex-wrap: wrap;

                        .group {
                            .alert {
                                div {
                                    font-size: 0.8rem;
                                    color: red;
                                }
                            }
                        }
                    }

                    #stateCity {
                        margin: 0.5rem 2.5em;
                        display: flex;
                        flex-direction: column;
                        .form-group {
                            margin: 0.5rem 0;
                            .group {
                                margin-bottom: 0;
                                width: 25rem;
                            }
                            ul {
                                list-style: none;
                                padding-inline-start: 0;
                                margin-block-end: 8px;
                                margin-block-start: 8px;
                                li {
                                    margin: 0.5rem 0;
                                    padding: 0.5rem;
                                    background-color: bisque;
                                    border: 1px solid orange;
                                    border-radius: 25px;
                                    width: fit-content;
                                    cursor: pointer;
                                }

                                span {
                                    background-color: white;
                                    border: 2px solid cornflowerblue;
                                    border-radius: 25px;
                                    padding: 0.5em;
                                    margin-top: 0.2em;
                                    display: inline-block;
                                }

                                div {
                                    display: flex;
                                    flex-direction: column;
                                    background-color: white;
                                    border: 1px solid lightblue;
                                    height: 400px;
                                    overflow-y: auto;
                                    position: absolute;
                                    z-index: 100;
                                    min-width: 5rem;

                                    span {
                                        font-family: 'Montserrat';
                                        font-size: 0.8em;
                                        cursor: pointer;
                                        padding: 1%;
                                        border: none;
                                        border-radius: none;
                                    }
                                }
                            }

                            .tags {

                                border: none;
                                min-width: 0;
                                background-color: white;

                                span {
                                    background-color: white;
                                    border: 2px solid cornflowerblue;
                                    border-radius: 25px;
                                    padding: 0.5em;
                                    margin-top: 0.2em;
                                    display: inline-block;
                                    width: fit-content;
                                }
                            }

                            .dropdown {
                                display: flex;
                                flex-direction: column;
                                background-color: white;
                                border: 1px solid lightblue;
                                height: fit-content;
                                max-height: 400px;
                                overflow-y: auto;
                                position: absolute;
                                z-index: 100;

                                span {
                                    font-family: 'Montserrat';
                                    font-size: 0.8em;
                                    cursor: pointer;
                                    padding: 1%;
                                }
                            }
                        }
                    }

                    button {
                        background-color: seagreen;
                        margin: irem auto;
                    }
                }
            }
        }
    }
}

#modal-validator {

    #modalHeader {
        width: 600px;
        display: flex;
        justify-content: center;
        border-radius: 15px 15px 0 0;
        border-bottom: 1px solid #e5e5e5;

        span {
            padding: 1rem;
        }
    }

    #modalBody {
        display: flex;
        flex-direction: column;
        text-align: center;

        ul {
            list-style: none;
            text-align: justify;
            width: 25rem;
            margin: auto;
        }

        div {
            p {
                width: 38rem;
            }

            h3 {
                color: #111111;
            }

            #simFooter {

                border-top: 1px solid #e5e5e5;
                margin: 0.8em;

                a {
                    color: #fff;
                    background-color: #5cb85c;
                    border: none;
                    display: inline-block;
                    padding: 6px 12px;
                    margin-bottom: 0;
                    margin-top: 1em;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.42857143;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: middle;
                    touch-action: manipulation;
                    cursor: pointer;
                    user-select: none;
                    background-image: none;
                    border-radius: 4px;

                    i {
                        padding-right: 0.5em;
                    }
                }

                a:hover {
                    background-color: #449d44;
                    border-color: #398439;
                    text-decoration: none;
                }
            }
        }
    }
}