<section>
    <div id="anuncio-details">
        <h1 style="text-align: center">Anuncie no Portal Rede Credenciados</h1>
        <p>
            <b>Divulgue</b> sua marca para quem realmente precisa do seu serviço e aumente o engajamento da sua empresa.
            Anuncie no portal exclusivo para a área de Medicina e Segurança do Trabalho que mais cresce no Brasil.
            Você pode realizar a divulgação por Cidade, Estado ou a nível Nacional.
            E o melhor de tudo isso com um custo muito acessível.
            Não perca essa oportunidade de realizar grandes negócios.

            Abaixo segue a tabela de divulgação
        </p>
    </div>

    <!-- Ad Info Card -->
    <div id="cardPriceTab" class="card-dash">
        <!-- Card  Header -->
        <div id="cardPriceTabHeader" class="card-header-dash"><h3>Tabela Preços</h3></div>
        <!-- Card  Header -->
        <!-- Card  Body -->
        <div id="cardPriceTabBody" class="card-body-dash">
            <!-- Card  Table -->
            <div id="table">
                <div id="tableHeader"><h3>Preços</h3></div>
                <div id="tableBody">
                    <table>
                        <tr>
                            <th>Mensalidade</th>
                            <th>Local (bannner)</th>
                            <th>Qtd Estados</th>
                            <th>Qtd Cidades</th>
                        </tr>
                        <tr>
                            <td>R$ 25,00</td>
                            <td>Lateral</td>
                            <td>1</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>R$ 75,00</td>
                            <td>Topo</td>
                            <td>1</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>R$ 50,00</td>
                            <td>Lateral</td>
                            <td>2</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>R$ 100,00</td>
                            <td>Topo</td>
                            <td>2</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>R$ 75,00</td>
                            <td>Lateral</td>
                            <td>4</td>
                            <td>30</td>
                        </tr>
                        <tr>
                            <td>R$ 120,00</td>
                            <td>Topo</td>
                            <td>4</td>
                            <td>30</td>
                        </tr>
                        <tr>
                            <td>R$ 100,00</td>
                            <td>Lateral</td>
                            <td>Todos</td>
                            <td>Todas</td>
                        </tr>
                        <tr>
                            <td>R$ 150,00</td>
                            <td>Topo</td>
                            <td>Todos</td>
                            <td>Todas</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- Card  Table -->
        </div>
        <!-- Card  Body -->
    </div>
    <!-- Ad Info Card -->
</section>
