<section>
    <!-- Ad Info Card -->
    <div id="cardTab" class="card-dash">
        <!-- Card  Header -->
        <div id="cardTabHeader" class="card-header-dash"><h3>Especialidades</h3></div>
        <!-- Card  Header -->
        <!-- Card  Body -->
        <div id="cardTabBody" class="card-body-dash">
            <!-- Card  Table -->
            <div id="table">
                <div id="tableBody">
                    <table>
                        <tr>
                            <th>Nome</th>
                            <th>Imagem Desktop </th>
                            <th>Imagem Mobile</th>
                            <th>Ordem</th>
                            <th>Excluir</th>
                        </tr>
                        <tr *ngFor="let slideImagem of slideImagens">
                            <td class="td-center">{{ slideImagem.nome }}</td>
                            <td class="td-center"><img [src]="slideImagem.srcDesktop" alt="slide imagem" height="100" width="400"></td>
                            <td class="td-center"><img [src]="slideImagem.srcMobile" alt="slide imagem" height="100" width="400"></td>
                            <td class="td-center">{{ slideImagem.ordem }}</td>
                            <td  class="td-center" (click)="deleteSlideImg(slideImagem)"><i class="fas fa-trash-alt"></i></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- Card  Table -->
            <button class="rd-button-dash" style="background-color: green" (click)="openModal()">
                <i class="fas fa-plus-square" style="margin: 0.5rem"></i>IMAGEM
            </button>
            
        </div>
        <!-- Card  Body -->
    </div>
    <!-- Ad Info Card -->
</section>
<!-- Modal slide-imagem -->
<app-modal id="modal-slide-image">
    <div id="modalHeader">
        <h2>Nova Imagem</h2>
    </div>
    <div id="modalBody">
        <div class="group">
            <input type="file" name="newSlideImg" id="newSlideImg">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Escolher imagem</label>
        </div>

        <div class="group">
            <input type="number" [formControl]="ordem">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Escolher a ordem</label>
        </div>
        
    </div>
    <div id="modalFooter">
        <button (click)="closeModal()">FECHAR</button>
        <button (click)="newImg()">SALVAR</button>
    </div>
</app-modal>
<!-- Modal Especialidades -->
<!-- Loading Status -->
<div class="my-container">
    <ng-template #customLoadingTemplate>
        <div class="custom-class">
        </div>
    </ng-template>

    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }" [template]="customLoadingTemplate"></ngx-loading>
</div>
<!-- Loading Status -->