:host {
    min-height: 36rem;
    display: flex;
    justify-content: center;
    padding: 2rem;
    .card-dash {
        height: fit-content;
        width: 20rem;
        .card-body-dash {
            form {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

#modal-mensagem, #modal-email, #modal-validator {

    #modalHeader {
        width: 25rem;
        display: flex;
        justify-content: center;
        border-radius: 15px 15px 0 0;
        border-bottom: 1px solid #e5e5e5;

        span {
            padding: 1em;
        }
    }

    #modalBody {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: fit-content;
        width: 25rem;

        p {
            text-align: justify;
            padding: 1rem;
        }

        h3 {
            text-align: center;
            padding: 1rem;
            color: black;    
        }

        #simFooter {

            border-top: 1px solid #e5e5e5;
            margin-bottom: 0.8em;

            a {
                color: #fff;
                background-color: #5cb85c;
                border: none;
                display: inline-block;
                padding: 6px 12px;
                margin-bottom: 0;
                margin-top: 1em;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.42857143;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                touch-action: manipulation;
                cursor: pointer;
                user-select: none;
                background-image: none;
                border-radius: 4px;

                i {
                    padding-right: 0.5em;
                }
            }

            a:hover {
                background-color: #449d44;
                border-color: #398439;
                text-decoration: none;
            }
        }
    }
}