<div id="contato" class="card-dash">
  <div class="card-header-dash"><h3>E-mail</h3></div>
  <div class="card-body-dash" style="margin-top: 1rem">
    <!-- Email form -->
    <form>
      <div class="group">
        <input type="text" [formControl]="email">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label [className]="email.value === null ? 'input-empty' : 'input-not-empty'">
            Por favor, informe seu e-mail
        </label>
      </div>
      <button type="submit" class="rd-button-dash" style="background-color: #5cb85c" (click)="checkEmail()">ENVIAR</button>
    </form>
  </div>
</div>
<!-- Modal -->
<app-modal id="modal-mensagem">
  <div id="modalHeader">
    <span>MENSAGEM</span>
  </div>
  <div id="modalBody">
    <p>
      Caro usuário, enviamos para o seu e-mail, um link para resetar a senha. Por favor, verifique-o
      para podermos finalizar o processo.
    </p>
    <div id="simFooter">
      <a (click)="closeModal('modal-mensagem')"><i class="fas fa-times"></i>OK</a>
    </div>
  </div>
</app-modal>
<!-- Modal -->
<app-modal id="modal-email">
  <div id="modalHeader">
    <span>MENSAGEM</span>
  </div>
  <div id="modalBody">
    <p>
      Caro usuário, não encontramos nenhum e-mail com o endereço digitado. Por favor, verifique
      o e-mail digitado ou entre em contato com o Rede Credenciados.
    </p>
    <div id="simFooter">
      <a (click)="closeModal('modal-email')"><i class="fas fa-times"></i>OK</a>
    </div>
  </div>
</app-modal>
<!-- Modal -->
<app-modal id="modal-validator">
  <div id="modalHeader">
    <span>MENSAGEM</span>
  </div>
  <div id="modalBody">
    <div>
      <h3>E-mail inválido</h3>
      <div id="simFooter">
        <a (click)="closeModal('modal-validator')"><i class="fas fa-times"></i>FECHAR</a>
      </div>
    </div>
  </div>
</app-modal>
<!-- Loading Template -->
<div class="my-container">
  <ng-template #customLoadingTemplate>
    <div class="custom-class">
    </div>
  </ng-template>

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"
    [template]="customLoadingTemplate"></ngx-loading>
</div>
