:host {
    width: calc(100% - 281.64px);
    display: flex;
    margin-bottom: 2em;

    section {
        max-height: 55rem;
        overflow-y: auto;
        display: flex;
        justify-content: center;

        #avatarCol {

            display: flex;
            flex-direction: column;
            width: 18.2%;
            height: fit-content;
            margin: 1em;
            max-height: fit-content;

            #cardAvatar {

                #cardAvatarBody {

                    img {
                        width: 100px;
                        height: 100px;
                        margin: auto;
                        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
                    }

                    p {
                        color: #6c757d;
                        text-align: center;
                    }

                    div {

                        display: flex;
                        flex-direction: column;
                        text-align: -webkit-center;

                        button:nth-child(3) {
                            background-color: #ff3547;
                            margin: 0.5em auto;
                        }
                    }
                }
            }

            #cardPresentation {

                #cardPresentationBody {

                    h5 {
                        text-align: center;
                    }

                    button {
                        background-color: #33b5e5;
                        margin: 0.2rem auto;
                    }

                    button:nth-child(4) {
                        background-color: #449d44;
                    }
                }
            }

            #cardUnityImgs {
                #cardUnityImgsBody {
                    display: flex;
                    justify-content: center;

                    h5 {
                        text-align: center;
                    }

                    button {
                        background-color: #33b5e5;
                        margin: 0.2rem auto;
                    }

                    button:nth-child(3) {
                        background-color: #c9302c;
                    }

                    div {
                        img {
                            width: 200px;
                            height: 200px;
                        }
                    }
                }
            }
        }
    }
}


#modal-aviso-imagem, #modal-aviso-arquivo, #modal-sem-arquivo {
    .confirm-modal {
        display: block;
        pointer-events: none;
        transition: opacity 0.5s;
        .btn {
            width: auto;
            max-width: auto;
            margin: auto;
        }

        &::before {
            /*
            The shadow/backdrop which also is clickable to close the modal.
            */
            content: "";
            display: block;
            background-color: rgba(0,0,0,0.4);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 261%;
            z-index: 99;
            opacity: 1;
            pointer-events: all;
        }
        #modal {
            /*
            The actual modal.

            Note: to not have clicks inside the modal
            bleed through to the label (which would uncheck the checkbox),
            pointer-events are set to none on the modal.
            */
            text-align: center;
            position: fixed;
            z-index: 99;
            top: 50px;
            transition: transform 0.75s;
            max-width: 90%;
            width: 450px;
            background-color: #fafafa;
            padding: 20px;
            left: 50%;
            transform: translate(-50%, 0);
            box-shadow: 4px 4px 15px rgba(0,0,0,0.2);
            color: #080808;
            border-radius: 5px;
            pointer-events: none;

            p {
                text-align: center;
            }

            button {
                color: #fff;
                background-color: #d9534f;
                border: none;
                display: inline-block;
                padding: 6px 12px;
                margin-bottom: 0;
                margin-top: 1em;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.42857143;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                touch-action: manipulation;
                cursor: pointer;
                user-select: none;
                background-image: none;
                border-radius: 4px;

                i {
                    padding-right: 0.5em;
                }
            }

            button:hover {
                background-color: #c9302c;
                border-color: #761c19;
            }
        }
        }

        /* For that cute little fly down effect */
        input:not(:checked) + .confirm-modal form {
            transform: translate(-50%, -100px);
        }

        /* Allow buttons to be clickable. */
        .confirm-modal button {
            pointer-events: all;
        }
}

#modal-delete-arquivo {

    #modalHeader {
        display: flex;
        justify-content: center;
        border-radius: 15px 15px 0 0;
        border-bottom: 1px solid silver;
    }

    #modalBody {

        display: flex;
        flex-direction: column;
        width: 625px;

        .col-1 {
            padding: 0.5rem;
            width: 25rem;
            margin: auto;

            div {
                display: flex;
            }
        }

        .col-2 {
            margin: auto;

            button {
                background-color: seagreen;
                margin: 1rem;
            }

            button:last-child {
                background-color: #c9302c;
            }
        }
    }
}
