<div class="card-dash">
  <!-- card Title -->
  <div class="card-header-dash"><h3>Pagou X Utilizou</h3></div>
  <div class="card-body-dash">
    <div>
      <!-- Search Input -->
      <mat-form-field style="width: 20%">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
      </mat-form-field>
      <i class="fas fa-search" style="background-color: chocolate"></i>
    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort style="width: 100%">

        <!-- Status Column -->
        <ng-container matColumnDef="situacao">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Situação </th>
          <td mat-cell *matCellDef="let row"> {{row.situacao}} </td>
        </ng-container>

        <!-- Payment Form Column -->
        <ng-container matColumnDef="formPgto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Forma Pagamento </th>
          <td mat-cell *matCellDef="let row"> {{row.formPgto}} </td>
        </ng-container>

        <!-- Owner Column -->
        <ng-container matColumnDef="titular">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Titular </th>
          <td mat-cell *matCellDef="let row"> {{row.titular}} </td>
        </ng-container>

        <!-- PayDay Column -->
        <ng-container matColumnDef="vencimento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Vencimento </th>
          <td mat-cell *matCellDef="let row"> {{row.vencimento | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <!-- Value Column -->
        <ng-container matColumnDef="valor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
          <td mat-cell *matCellDef="let row">{{row.valor | currencyformat}}</td>
        </ng-container>

        <!-- Balance Column -->
        <ng-container matColumnDef="saldo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Saldo </th>
          <td mat-cell *matCellDef="let row" [style.color]="row.saldo === 'Negativo' ? 'red' : 'skyblue'">
            {{row.saldo}}
          </td>
        </ng-container>

        <!-- Details Column -->
        <ng-container matColumnDef="detalhes">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Detalhes </th>
          <td mat-cell *matCellDef="let row" style="text-align: center">
            <button mat-raised-button color="primary" (click)="openDialog(row)">Detalhar</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <!-- Paginator -->
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>
