:host {
    width: calc(100% - 281.64px);
    max-height: 50rem;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;

    .card-dash {
        width: 75%;
        .card-header-dash {
            width: 96%;
            margin-left: 2%;
        }

        .card-body-dash {

            padding: 2em;

            #tags {
                padding: 2rem;
                background-color: white;
                border-radius: 5px;

                span {
                    padding: 0.5em;
                    margin: 0.2em;
                    border-radius: 25px;
                    background-color: #e77a1c;
                    display: inline-block;
                    color: white;

                    i {
                        cursor: pointer;
                    }
                }
            }

            .mat-raised-button {
                width: 15%;
                border-radius: 25px;
                margin: auto;
                cursor: pointer;
            }
        }
    }
}

